In [1]:
import pandas as pd
import seaborn as sns
import numpy as np

In [2]:
df = sns.load_dataset('planets')
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [3]:
df.groupby('method')[['distance']].sum()

                                distance
method
Astrometry                         35.75
Eclipse Timing Variations        1261.44
Imaging                          2166.91
Microlensing                    41440.00
Orbital Brightness Modulation    2360.00
Pulsar Timing                    1200.00
Pulsation Timing Variations         0.00
Radial Velocity                 27348.11
Transit                        134242.77
Transit Timing Variations        3313.00

In [4]:
df.groupby('method').sum()

,number,orbital_period,mass,distance,year
method,,,,,
Astrometry,2,1.262360e+03,0.00000,35.75,4023
Eclipse Timing Variations,15,4.276480e+04,10.25000,1261.44,18090
Imaging,50,1.418973e+06,0.00000,2166.91,76347
Microlensing,27,2.207500e+04,0.00000,41440.00,46225
Orbital Brightness Modulation,5,2.127920e+00,0.00000,2360.00,6035
Pulsar Timing,11,3.671511e+04,0.00000,1200.00,9992
Pulsation Timing Variations,1,1.170000e+03,0.00000,0.00,2007
Radial Velocity,952,4.553151e+05,1341.65638,27348.11,1110158
Transit,776,8.377523e+03,1.47000,134242.77,798461
Transit Timing Variations,9,2.393505e+02,0.00000,3313.00,8050

In [5]:
df.groupby('method').mean()

,number,orbital_period,mass,distance,year
method,,,,,
Astrometry,1.000000,631.180000,NaN,17.875000,2011.500000
Eclipse Timing Variations,1.666667,4751.644444,5.125000,315.360000,2010.000000
Imaging,1.315789,118247.737500,NaN,67.715937,2009.131579
Microlensing,1.173913,3153.571429,NaN,4144.000000,2009.782609
Orbital Brightness Modulation,1.666667,0.709307,NaN,1180.000000,2011.666667
Pulsar Timing,2.200000,7343.021201,NaN,1200.000000,1998.400000
Pulsation Timing Variations,1.000000,1170.000000,NaN,NaN,2007.000000
Radial Velocity,1.721519,823.354680,2.630699,51.600208,2007.518987
Transit,1.954660,21.102073,1.470000,599.298080,2011.236776
Transit Timing Variations,2.250000,79.783500,NaN,1104.333333,2012.500000

In [7]:
df.groupby('orbital_period').aggregate([np.min,np.max,np.median])

/var/folders/bv/8lk19kxx3_b_lty93f2n4v600000gn/T/ipykernel_6259/4277361875.py:1: FutureWarning: ['method'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  df.groupby('orbital_period').aggregate([np.min,np.max,np.median])

               number             mass             distance                    \
                 amin amax median amin amax median     amin     amax   median
orbital_period
0.090706            1    1    1.0  NaN  NaN    NaN  1200.00  1200.00  1200.00
0.240104            2    2    2.0  NaN  NaN    NaN  1180.00  1180.00  1180.00
0.342887            2    2    2.0  NaN  NaN    NaN  1180.00  1180.00  1180.00
0.355000            1    1    1.0  NaN  NaN    NaN      NaN      NaN      NaN
0.453285            3    3    3.0  NaN  NaN    NaN    38.70    38.70    38.70
...               ...  ...    ...  ...  ...    ...      ...      ...      ...
40000.000000        1    1    1.0  NaN  NaN    NaN      NaN      NaN      NaN
69000.000000        4    4    4.0  NaN  NaN    NaN    39.94    39.94    39.94
170000.000000       4    4    4.0  NaN  NaN    NaN    39.94    39.94    39.94
318280.000000       1    1    1.0  NaN  NaN    NaN     7.69     7.69     7.69
730000.000000       1    1    1.0  NaN  NaN    NaN      NaN      NaN      NaN

                year
                amin  amax  median
orbital_period
0.090706        2011  2011  2011.0
0.240104        2011  2011  2011.0
0.342887        2011  2011  2011.0
0.355000        2013  2013  2013.0
0.453285        2011  2011  2011.0
...              ...   ...     ...
40000.000000    2011  2011  2011.0
69000.000000    2008  2008  2008.0
170000.000000   2008  2008  2008.0
318280.000000   2008  2008  2008.0
730000.000000   2006  2006  2006.0

[988 rows x 12 columns]

In [8]:
df.groupby('method').count()

                               number  orbital_period  mass  distance  year
method
Astrometry                          2               2     0         2     2
Eclipse Timing Variations           9               9     2         4     9
Imaging                            38              12     0        32    38
Microlensing                       23               7     0        10    23
Orbital Brightness Modulation       3               3     0         2     3
Pulsar Timing                       5               5     0         1     5
Pulsation Timing Variations         1               1     0         0     1
Radial Velocity                   553             553   510       530   553
Transit                           397             397     1       224   397
Transit Timing Variations           4               3     0         3     4

In [12]:
df.agg(['sum', 'min'])

,method,number,orbital_period,mass,distance,year
sum,Radial VelocityRadial VelocityRadial VelocityR...,1848,1.986894e+06,1353.37638,213367.98,2079388
min,Astrometry,1,9.070629e-02,0.00360,1.35,1989

In [15]:
df.agg('min', axis='columns')

/var/folders/bv/8lk19kxx3_b_lty93f2n4v600000gn/T/ipykernel_6259/1646293335.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.agg('min', axis='columns')

Series([], dtype: float64)

In [17]:
df.groupby('method').agg('count')

                               number  orbital_period  mass  distance  year
method
Astrometry                          2               2     0         2     2
Eclipse Timing Variations           9               9     2         4     9
Imaging                            38              12     0        32    38
Microlensing                       23               7     0        10    23
Orbital Brightness Modulation       3               3     0         2     3
Pulsar Timing                       5               5     0         1     5
Pulsation Timing Variations         1               1     0         0     1
Radial Velocity                   553             553   510       530   553
Transit                           397             397     1       224   397
Transit Timing Variations           4               3     0         3     4

In [18]:
df.groupby('method').agg('min')

                               number  orbital_period    mass  distance  year
method
Astrometry                          1      246.360000     NaN     14.98  2010
Eclipse Timing Variations           1     1916.250000  4.2000    130.72  2008
Imaging                             1     4639.150000     NaN      7.69  2004
Microlensing                        1     1825.000000     NaN   1760.00  2004
Orbital Brightness Modulation       1        0.240104     NaN   1180.00  2011
Pulsar Timing                       1        0.090706     NaN   1200.00  1992
Pulsation Timing Variations         1     1170.000000     NaN       NaN  2007
Radial Velocity                     1        0.736540  0.0036      1.35  1989
Transit                             1        0.355000  1.4700     38.00  2002
Transit Timing Variations           2       22.339500     NaN    339.00  2011

In [20]:
df.groupby('method').agg(['min','max'])

                              number     orbital_period                 \
                                 min max            min            max
method
Astrometry                         1   1     246.360000    1016.000000
Eclipse Timing Variations          1   2    1916.250000   10220.000000
Imaging                            1   4    4639.150000  730000.000000
Microlensing                       1   2    1825.000000    5100.000000
Orbital Brightness Modulation      1   2       0.240104       1.544929
Pulsar Timing                      1   3       0.090706   36525.000000
Pulsation Timing Variations        1   1    1170.000000    1170.000000
Radial Velocity                    1   6       0.736540   17337.500000
Transit                            1   7       0.355000     331.600590
Transit Timing Variations          2   3      22.339500     160.000000

                                 mass        distance           year
                                  min    max      min      max   min   max
method
Astrometry                        NaN    NaN    14.98    20.77  2010  2013
Eclipse Timing Variations      4.2000   6.05   130.72   500.00  2008  2012
Imaging                           NaN    NaN     7.69   165.00  2004  2013
Microlensing                      NaN    NaN  1760.00  7720.00  2004  2013
Orbital Brightness Modulation     NaN    NaN  1180.00  1180.00  2011  2013
Pulsar Timing                     NaN    NaN  1200.00  1200.00  1992  2011
Pulsation Timing Variations       NaN    NaN      NaN      NaN  2007  2007
Radial Velocity                0.0036  25.00     1.35   354.00  1989  2014
Transit                        1.4700   1.47    38.00  8500.00  2002  2014
Transit Timing Variations         NaN    NaN   339.00  2119.00  2011  2014

In [21]:
df.groupby('method').number.agg(['min','max'])

                               min  max
method
Astrometry                       1    1
Eclipse Timing Variations        1    2
Imaging                          1    4
Microlensing                     1    2
Orbital Brightness Modulation    1    2
Pulsar Timing                    1    3
Pulsation Timing Variations      1    1
Radial Velocity                  1    6
Transit                          1    7
Transit Timing Variations        2    3

In [22]:
df.groupby('method').agg({'number': ['min','max'], 'mass': 'sum'})

                              number            mass
                                 min max         sum
method
Astrometry                         1   1     0.00000
Eclipse Timing Variations          1   2    10.25000
Imaging                            1   4     0.00000
Microlensing                       1   2     0.00000
Orbital Brightness Modulation      1   2     0.00000
Pulsar Timing                      1   3     0.00000
Pulsation Timing Variations        1   1     0.00000
Radial Velocity                    1   6  1341.65638
Transit                            1   7     1.47000
Transit Timing Variations          2   3     0.00000