In [2]:
import pandas as pd

In [3]:
ser = pd.Series(list("clarusway"))

ser

0    c
1    l
2    a
3    r
4    u
5    s
6    w
7    a
8    y
dtype: object

In [4]:
ser.sort_index(ascending = True)

0    c
1    l
2    a
3    r
4    u
5    s
6    w
7    a
8    y
dtype: object

In [5]:
ser.sort_values()

2    a
7    a
0    c
1    l
3    r
5    s
4    u
6    w
8    y
dtype: object

In [11]:
ser = pd.Series([set, list, dict, print, len])

ser[0]

set

In [7]:
type(ser[0])

type

In [9]:
ser[0]([1,2,3,4,5])

{1, 2, 3, 4, 5}

In [12]:
ser[3]("pandas series")

pandas series

In [13]:
ser[4]("clarusway")

9

In [14]:
func = pd.Series([sum, print, len])

In [15]:
func[1]("We loves pandas")

We loves pandas

In [16]:
print(func[2]("We loves pandas"))

15

In [17]:
func[1](func[2]("We loves pandas"))

15

In [18]:
ser_label = pd.Series(data = [121, 200, 150, 99], index = ["terry", "micheal", "orion", "jason"])
ser_label

terry      121
micheal    200
orion      150
jason       99
dtype: int64

In [19]:
ser1 = pd.Series( [1,2,3,4], index=['USA', 'Germany', 'USSR', 'Japan'])
ser2 = pd.Series( [1,2,5,4,6], index=['USA', 'Germany', 'Italy','Japan','Spain'])

In [20]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [21]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
Spain      6
dtype: int64

In [23]:
ser1.sort_index()

Germany    2
Japan      4
USA        1
USSR       3
dtype: int64

In [25]:
ser2.sort_values()

USA        1
Germany    2
Japan      4
Italy      5
Spain      6
dtype: int64

In [26]:
ser1[3]

4

In [27]:
ser2[3]

4

In [39]:
ad = ser1 + ser2
ad

Germany    4.0
Italy      NaN
Japan      8.0
Spain      NaN
USA        2.0
USSR       NaN
dtype: float64

In [29]:
ser1.index[3]

'Japan'

In [30]:
ser1.values[3]

4

In [31]:
ser1.index.get_loc('Japan')

3

In [32]:
ser1['Japan']

4

In [35]:
ser1[3:4]

Japan    4
dtype: int64

In [36]:
ser1.Japan

4

In [37]:
ser1.isnull()

USA        False
Germany    False
USSR       False
Japan      False
dtype: bool

In [40]:
ad.isnull()

Germany    False
Italy       True
Japan      False
Spain       True
USA        False
USSR        True
dtype: bool

In [41]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
Spain      6
dtype: int64

In [43]:
ser2[2:]

Italy    5
Japan    4
Spain    6
dtype: int64

In [44]:
ser2[::-1]

Spain      6
Japan      4
Italy      5
Germany    2
USA        1
dtype: int64