In [1]:
import pandas as pd

In [2]:
people = {
    'first': ['Forey', 'Jane', 'John', 'Adam'], 
    'last': ['Schafer', 'Foe', 'Foe', 'Foe'], 
    'email': ['fabcdef@gmail.com', 'jabcdef@email.com', 'jobcdef@email.com', 'A@email.com']
}

In [3]:
df = pd.DataFrame(people)

In [4]:
df

   first     last              email
0  Forey  Schafer  fabcdef@gmail.com
1   Jane      Foe  jabcdef@email.com
2   John      Foe  jobcdef@email.com
3   Adam      Foe        A@email.com

In [5]:
df.sort_values(by='last', ascending=False)

   first     last              email
0  Forey  Schafer  fabcdef@gmail.com
1   Jane      Foe  jabcdef@email.com
2   John      Foe  jobcdef@email.com
3   Adam      Foe        A@email.com

In [6]:
df.sort_values(by=['last', 'first'], ascending=False)

   first     last              email
0  Forey  Schafer  fabcdef@gmail.com
2   John      Foe  jobcdef@email.com
1   Jane      Foe  jabcdef@email.com
3   Adam      Foe        A@email.com

In [7]:
df.sort_values(by=['last', 'first'], ascending=[False, True], inplace=True)

In [8]:
df

   first     last              email
0  Forey  Schafer  fabcdef@gmail.com
3   Adam      Foe        A@email.com
1   Jane      Foe  jabcdef@email.com
2   John      Foe  jobcdef@email.com

In [9]:
df.sort_index()

   first     last              email
0  Forey  Schafer  fabcdef@gmail.com
1   Jane      Foe  jabcdef@email.com
2   John      Foe  jobcdef@email.com
3   Adam      Foe        A@email.com

In [10]:
df['last'].sort_values()

3        Foe
1        Foe
2        Foe
0    Schafer
Name: last, dtype: object